* { margin:0; padding:0; }
html { box-sizing:border-box; height:100%; }
body { background:#f2f6f9; height:100%; font-family:"Open sans", Helvetica, Arial, sans-serif; }
#container { display:flex; width:100%; height:100%; }
#map { flex:1; margin:10px; }
#widgets { width:300px; margin:10px 10px 10px 0; }
.widget { background:white; padding:10px; margin-bottom:10px; }
.widget h2 { font-size:1.2em; }
.widget-formula .result { font-size:2em; }

#heading {
  margin-top: 5px;
  /* margin-left: 10px; */
  text-align: center;
}
